@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your project */

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.animate-slide {
    display: flex;
    animation: slide 25s linear infinite; /* Adjust the duration and easing as needed */
}

.partner-logo {
    margin-right: 100px; /* Adjust the margin as needed */
   width: 100%;
}